<p>Here comes the hike!</p>

<div>
    @for (hike of hikes(); track hike)  {
        <p>{{ hike.titel}}</p>

        @for (route of hike.routes; track route)  {
            <img src="{{ route }}" alt="Route Picture" style="max-width: 100%; height: auto;">
        }    

        <p>{{ hike.beschrijving}}</p>
        <p>{{ hike.datumuitvoering}}</p>

        @for (picture of hike.pictures; track picture)  {
            <img src="{{ picture }}" alt="Route Picture" style="max-width: 100%; height: auto;">
        }
    }
</div>

